.item-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 500ms ease-out, opacity 500ms;
}

.item-enter-active {
  max-height: 10rem; /* Adjust this value to fit your content */
  opacity: 1;
}

.item-exit {
  max-height: 10rem; /* Same height as expanded content */
  opacity: 1;
  overflow: hidden;
  transition: max-height 500ms ease-in, opacity 500ms;
}

.item-exit-active {
  max-height: 0;
  opacity: 0;
}

.card {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  height: 22rem;
}

.card .face {
  position: absolute;
  width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
}

.card .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.card .back {
  transform: rotateY(180deg);
}
.card.flipped {
  transform: rotateY(180deg);
}
